table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

td {
  vertical-align: text-top;
  height: 33px;
  padding-left: 5px;
}

.container {
  border: 1px solid grey;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.smallfont {
  font-size: 14px;
}
